<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Tracking</title>
</head>
<body>
    <h1>Request Tracking</h1>
    <table>
        <thead>
            <tr>
                <th>Request Type</th>
                <th>Status</th>
                <th>Submitted At</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.request_type }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.submitted_at }}</td>
                <td>
                    {% if request.attached_file %}
                    <a href="{{ request.attached_file.url }}" download>Download File</a>
                    {% else %}
                    No file attached
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
